<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Songbyrd--About Us</title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/jquery-3.3.1.min.js"></script>
	<script src="../static/script.js"></script>

    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><br>SONGBYRD</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Reclaiming Our Stories</h2>
            </div>
        </div>
        <br>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/whymakeprofile">Why Make a Profile</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="/createprofile">Create Profile</a>
                    <a href="/signin">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <h3>
                    Who Are We?
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
Songbyrd was created by five Wellesley College students.  We have seen the widespread distribution of misinformation about activists online. Songbyrd exists as a tool to combat these willful attacks on activists, and to allow individuals fighting for social justice to control their own online presence. Songbyrd gives activists an opportunity to reclaim our own stories from those who would demonize us online.
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Our Mission
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
Songbyrd is here to help people take control of their online image. While other websites make it easy for trolls to slander and defame activists and ordinary people online, we intend to do the opposite: we want to allow you to choose exactly how you’re portrayed online. By connecting to all of your social networks, and giving you tips on how to cultivate your own Google search results page, we will help you take back your own image, and keep speaking out against injustice -- despite those who might want you to stay silent.
            </div>
        </div>

    </div>

</body>
</html>