<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songbyrd--Create Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="bootstrap.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
	<script src="script.js"></script>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><br>SONGBYRD</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Speaking Out Against Injustice</h2>
            </div>
        </div>
        <br>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/whymakeprofile">Why Make a Profile</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="/createprofile">Create Profile</a>
                    <a href="/signin">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-12">
                <form id="create-profile-form" action="/makeprofile" method="post">
                    First name:<br>

                    <input type="text" name="firstname" value="First Name" required><br>
                    Last name:<br>
                    <input type="text" name="lastname" value="Last Name" required><br>
                    Password:<br>
                    <input type="password" name="password" required><br>
                    Tagline:<br>
                    <textarea form="create-profile-form" rows="1" cols="100" maxlength="100" name="tagline" required>Speaking Out Against Injustice</textarea><br>
                    Image:<br>
                    <input type="file" accept=".png, .jpg" name="pic" required>

                    <textarea rows="4" cols="100" maxlength="5000" name="about" form="create-profile-form">About you (5000 char max)</textarea>
                    <textarea rows="4" cols="100" maxlength="5000" name="causes" form="create-profile-form">Causes You Believe In (5000 char max)</textarea>

                    <textarea rows="5" cols="100" maxlength="5000" name="socialmedia" form="create-profile-form">Your other social media (one per line)</textarea><br>

                    <input type="submit" value="Create Profile!">
                    <br>
                    <br>
                </form>
            </div>

        </div>

    </div>


</body>
</html>