<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Songbyrd</title>
	<meta name="description" content="SONGBYRD: Reclaiming our stories. A platform for activists to control their own search presence.">
	<meta name="keywords" content="Songbyrd, songbyrd, song byrd, songbird, song bird, songbirds, song birds, activist, activists, activism, Jewish, Judaism, Palestine, Canary Mission ">
	
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="bootstrap.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
	<script src="script.js"></script>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><br>SONGBYRD</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Reclaiming Our Stories</h2>
            </div>
        </div>
        <br>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/whymakeprofile">Why Make a Profile</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="/createprofile">Create Profile</a>
                    <a href="/signin">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <p>Welcome to Songbyrd!
                <br><br>
                Songbyrd is here to help people take control of their online image. While other websites make it easy for trolls to slander and defame activists and ordinary people online, we intend to do the opposite: we want to allow you to choose exactly how you’re portrayed online. By connecting to all of your social networks, and giving you tips on how to cultivate your own Google search results page, we will help you take back your own image, and keep speaking out against injustice -- despite those who might want you to stay silent.
        </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="b btn" onclick="window.location='/createprofile'">Create a Profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="b btn">Sign In</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="b btn">Search Profiles</button>
            </div>
        </div>



    </div>

	
</body>

</html>