<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NAME</title>
	<meta name="description" content="NAME: Speaking Out Against Injustice. A platform for activits to control their own search presence.">
	<meta name="keywords" content="">
	
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js"></script>
</head>

<body>
	
	<h1>NAME</h1>
	<h2>Speaking Out Against Injustice</h2>
	
	<nav>
		<a href="/missionstatement.html">Mission Statement</a>
		<a href="/aboutus.html">About Us</a>
		<a href="/resources.html">Resources</a>
		<a href="/contactus.html">Contact Us</a>
	</nav>
	
	<button>Create a Profile</button>
	<button>Sign In</button>
	<button>Search Profiles</button>
	
</body>

</html>