<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NAME</title>
	<meta name="description" content="NAME: Speaking Out Against Injustice. A platform for activits to control their own search presence.">
	<meta name="keywords" content="">
	
	<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap.min.js"></script>
	<script src="../static/script.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>NAME</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Speaking Out Against Injustice</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="/missionstatement.html">Mission Statement</a>
            </div>
            <div class="col-md-3">
                <a href="/aboutus.html">About Us</a>
            </div>
            <div class="col-md-3">
                <a href="/resources.html">Resources</a>
            </div>
            <div class="col-md-3">
                <a  href="/contactus.html">Contact Us</a>
            </div>
        </div>


    </div>

	<div class="bottom-portion">
        <button>Create a Profile</button>
	    <button>Sign In</button>
	    <button>Search Profiles</button>
    </div>

	
</body>

</html>