<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songbyrd--Mission Statement</title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/jquery-3.3.1.min.js"></script>
	<script src="../static/script.js"></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Songbyrd</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Speaking Out Against Injustice</h2>
            </div>
        </div>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/missionstatement">Mission Statement</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="/createprofile">Create Profile</a>
                    <a href="#">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>
        </div>

        <p>
            <br>Songbyrd is here to help people take control of their online image. While other websites make it easy for trolls to slander and defame activists and ordinary people online, we intend to do the opposite: we want to allow you to choose exactly how you’re portrayed online. By connecting to all of your social networks, and giving you tips on how to cultivate your own Google search results page, we will help you take back your own image, and keep speaking out against injustice -- despite those who might want you to stay silent.
        </p>
    </div>

</body>
</html>