<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>

    <meta name="description" content="{{ name }}: {{ tagline }}">
	<meta name="keywords" content= "{{ name }}">


    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/jquery-3.3.1.min.js"></script>
	<script src="../static/script.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{ tagline }}</h2>
            </div>
        </div>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/missionstatement">Mission Statement</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="#">Create Profile</a>
                    <a href="#">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>{{ name }}</h1>
        <div class="row">
            <div class="col-md-6">
                {{ text1 }}
            </div>
            <div class="col-md-6">
                <img src="{{ imgsrc }}" alt="{{ name }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ text2 }}
            </div>
        </div>

    </div>

</body>
</html>