<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Songbyrd-Resources</title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/jquery-3.3.1.min.js"></script>
	<script src="../static/script.js"></script>

    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><br>SONGBYRD</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Reclaiming Our Stories</h2>
            </div>
        </div>
        <br>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/whymakeprofile">Why Make a Profile</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="/createprofile">Create Profile</a>
                    <a href="#">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    <br>
                    So, your name is out there on the internet. Someone has published it alongside threats, harassment, or slander. That can be scary! Often, troll websites such as this try to publish your personal information in order to decrease your chances of getting a job in the future, or to make you feel unsafe continuing in your activism.
First of all: don’t panic. This doesn’t mean that you should stop doing the meaningful work you do. In fact, it means that you’re doing something right!
                </p>

                <p>
                   Here’s what to do if you’ve been targeted by a trolling site:
                </p>

                <ul>
                    <li>Remove all information such as addresses and phone numbers from social media.</li>
                    <li>Encourage friends and family not to google search your name and click on the trolling website; this will only make that result go higher in google search results</li>
                    <li>Make sure that all your social networking websites are linked to each other--provide a link to your twitter on your instagram, link your instagram posts to your facebook, and so on.</li>
                    <li>Make sure that your internet presence is as large as possible--that way, YOU control your footprint, not your trolls. Here are some suggestions as to how to do so:
                        <ul>
                            <li>Flickr: Posting photos of/about the person on a properly optimized Flickr account, and then sharing that Flickr page across different channels has been known to bring the Flickr result to page 1.</li>
                            <li>Wikipedia: If the person is noteworthy enough, a person (other than them) can create a wikipedia article for them, or be sure they are mentioned in an article they belong.</li>
                            <li>Google Profile: A profile should be created, finished, and optimized. Then ask the owners of the websites where this person's work has been published to attribute the content to him with rel=author.  They might not understand this so make it easy for them by providing code.</li>
                            <li>Linkedin:  A Linkedin profile that is optimized and set to public will usually rank very highly, especially if the person has an uncommon name.</li>
                            <li>Bio page on company site: If appropriate, a bio page of the person should be created on the website of a company/organization with which they are closely/formally associated. The page should be optimized for his/her name.</li>
                            <li>Quora: The person should create an account there, and ideally even answer a question or two.</li>
                        </ul>

                    </li>
                </ul>

            </div>
        </div>
    </div>


</body>
</html>