<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songbyrd--Success</title>

    <meta name="description" content="NAME: Speaking Out Against Injustice. A platform for activits to control their own search presence.">
	<meta name="keywords" content="">

	<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/jquery-3.3.1.min.js"></script>
	<script src="../static/script.js"></script>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><br>SONGBYRD</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Reclaiming Our Stories</h2>
            </div>
        </div>
        <br>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/whymakeprofile">Why Make a Profile</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="/createprofile">Create Profile</a>
                    <a href="#">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                Success!
            </div>
        </div>
    </div>

</body>
</html>