<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songbyrd--Mission Statement</title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/jquery-3.3.1.min.js"></script>
	<script src="../static/script.js"></script>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><br>SONGBYRD</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Reclaiming Our Stories</h2>
            </div>
        </div>
        <br>
        <div class="row" id="link-row">
            <div class="col-md-2">
                <a href="/">Home</a>
            </div>
            <div class="col-md-2">
                <a href="/whymakeprofile">Why Make a Profile</a>
            </div>
            <div class="col-md-2">
                <a href="/aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="/resources">Resources</a>
            </div>
            <div class="col-md-2">
                <a href="/contactus">Contact Us</a>
            </div>
            <div class="dropdown col-md-2">
                <p onmouseover="showAction()" onmouseout="hideAction()">Action</p>
                <div class="dropdown-content">
                    <a href="/createprofile">Create Profile</a>
                    <a href="#">Sign In</a>
                    <a href="#">Search Profiles</a>
                </div>
            </div>
        </div>

        <p>
            <br>
            If you’ve been targeted by any sort of online harassment, one of the best things you can do to help yourself out is to make a Songbyrd profile. This site, created by Wellesley College students, aims to outperform harassment sites at their own game. Many websites whose aim is to spread false information about activists, or intimidate them into silence, are only successful because they are very good at search engine optimization (SEO). That means their websites play nicely with Google’s algorithms--so when someone searches your name, a profile of you that was created by others and is designed to hurt you might be the first thing that shows up!

We don’t want that. We have created a website that uses the same techniques as harassment websites do to perform well in Google searches--so with a profile with us, your story, the way you want to tell it, will show up first.
        </p>

        <div class="row">
            <div class="col-md-12">
                <img src="../images/songbird_logo.png" alt="Songbyrd Logo">
            </div>
        </div>
    </div>

</body>
</html>